*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alexandria", sans-serif;
    color: var(--chumbo);
    list-style: none;
    text-decoration: none;
}

:root{
    --azul: #0c5189;
    --off: #f7f7f7;
    --rosa: #f780a9;
    --chumbo: #32363a;
    --rosa-escuro: #af0c4f;
    --azul-claro: #91cbe8;
    --azul-bebe: #e6f2ff;
}

/*INÍCIO ESTILOS REUTILIZAVEIS*/
.largura-maxima{
    max-width: 980px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.bg-off{
    background-color: var(--off);
}

.bg-azul{
    background-color: var(--azul);
}

.container-hero{
    scroll-margin-top: 68px;
}

.container-especialidade,
.container-beneficios,
.container-sobre,
.container-atendimento{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 90px;
    scroll-margin-top: 30px;
}

html{
    scroll-behavior: smooth;
}

main{
    width: 100%;
    position: relative;
    top: 68px;
}

h2{
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
    color: var(--rosa-escuro);
    text-align: center;
    margin-bottom: 35px;
}

.titulo-textos{
    font-weight: 400;
    margin-bottom: 12px;
}

p{
    font-size: 18px;
    line-height: 1.7;
    font-weight: 300;
}

.p-cards{
    font-size: 16px;
}

.texto-rosa{
    color: var(--rosa);
}

.texto-azul{
    color: var(--azul);
}

strong{
    font-weight: 600;
}
    
.limita-paragrafo{
    max-width: 700px;
    text-align: justify;
    margin: 0 auto;
}

.btn-ca{
    max-width: 300px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--off);
    background-color: var(--rosa);
    padding: 12px 25px;
    border-radius: 15px;
    margin: 10px 0 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-ca::after{
    content: "";
    width: 21px;
    height: 21px;
    background-image: url('../img/ícones/WhatsApp-Off.webp');
    background-size: contain;
}

.btn-ca:hover{
    background: linear-gradient(90deg, var(--rosa), #f8428e);
    border: 2px solid #f8428e;
}

.container-atendimento .btn-ca{
    margin: 0 auto;
}

.whats-flutuante{
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.whats-flutuante img{
    width: 100%;
}
/*FIM ESTILOS REUTILIZAVEIS*/

/*INÍCIO ESTILOS HEADER*/
header{
    width: 100%;
    min-height: 48px;
    position: fixed;
    padding: 10px 0;
    box-shadow: 0 0 10px 1px #9b9b9b;
    z-index: 10;
}

.topo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.logo-topo{
    width: 180px;
}

.lista-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.links-menu:hover{
    color: var(--rosa);
}

/*Estilos do menu hamburguer (somente mobile)*/
.menu-toggle{
    display: none; /*Esconde o checkbox*/
}

.icone-menu{
    display: none;
    font-size: 34px;
    cursor: pointer;
    user-select: none;
    color: var(--azul);
}
/*FIM ESTILOS HEADER*/

/*INÍCIO ESTILOS SEÇÃO HERO*/
.container-hero{
    width: 100%;
    background: linear-gradient(150deg, #186aad, var(--azul));
}

.subcont-hero{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.texto-hero{
    max-width: 470px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

h1{
    color: var(--off);
    font-size: 42px;
    font-weight: 500;
    line-height: 1.3;
}

.texto-hero p{
    color: var(--off);
    font-weight: 300;
    width: 90%;
}

.img-thais-hero{
    width: 390px;
    height: 390px;
    background: linear-gradient(315deg, var(--rosa), var(--rosa), var(--off), var(--off), var(--off));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px var(--chumbo);
}

.img-thais-hero::before{
    content: "";
    width: 370px;
    height: 370px;
    background-image: url('../img/Thais-Hero.webp');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
/*FIM ESTILOS SEÇÃO HERO*/

/*INÍCIO ESTILOS SEÇÃO ESPECIALIDADE*/
.subcont-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    gap: 20px;
}

.card{
    max-width: 280px;
    background-color: var(--off);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 30px;
    gap: 15px;
    border-radius: 35px 15px;
    border: 2px solid var(--rosa);
}

h3{
    font-size: 17px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h3::before{
    content: "";
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.foco::before{
    background-image: url('../img/ícones/Foco.webp');
}

.pratica::before{
    background-image: url('../img/ícones/Prática.webp');
}

.mudanca::before{
    background-image: url('../img/ícones/Cérebro.webp');
}
/*FIM ESTILOS SEÇÃO ESPECIALIDADE*/

/*INÍCIO ESTILOS SEÇÃO FAIXA*/
.container-faixa{
    width: 100%;
    height: 200px;
    background-image: url('../img/Flor-Dente-de-Leão.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    color: var(--off);
    background: linear-gradient(90deg, var(--azul), #2887d4);
    font-size: 24px;
    font-weight: 500;
    padding: 6px 30px;
    border-radius: 10px;
}
/*FIM ESTILOS SEÇÃO FAIXA*/

/*INÍCIO ESTILOS SEÇÃO BANEFICIOS*/
.subcont-beneficios{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 55px;
}

.texto-beneficios{
    min-width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.lista-beneficios{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    margin-bottom: 15px;
}

.itens-beneficios{
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.itens-beneficios::before{
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--azul);
    margin-top: 0.42em;
    flex-shrink: 0;
}

.mulher-paz{
    width: 100%;
    min-height: 380px;
    background-image: url('../img/Mulher-em-paz.webp');
    background-size: cover;
    background-position: top;
    border-radius: 35px 15px;
    margin-bottom: 15px;
    position: relative;
}

.mulher-paz::after{
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--azul);
    border-radius: 35px 15px;
}
/*FIM ESTILOS SEÇÃO BANEFICIOS*/

/*INÍCIO ESTILOS SEÇÃO SOBRE*/
.container-sobre{
    width: 100%;
    background-color: var(--azul-bebe);
    background-image: url('../img/Pattern-6.webp');
    background-size: cover;
    border-radius: 0 160px 0 160px;
}

.subcont-sobre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.cont-img-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.img-thais-sobre{
    width: 240px;
    height: 240px;
    background: linear-gradient(135deg, var(--rosa), var(--rosa), var(--azul));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #777777;
}

.img-thais-sobre::before{
    content: "";
    width: 230px;
    height: 230px;
    background-image: url('../img/Thais-Sobre.webp');
    background-size: 160%;
    background-position: center -25px;
    border-radius: 50%;
}

.p-crp{
    font-size: 16px;
}

.texto-sobre{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--off);
    margin-bottom: 20px;
}
/*FIM ESTILOS SEÇÃO SOBRE*/

/*INÍCIO ESTILOS SEÇÃO ATENDIMENTO*/
.subcont-atendimento{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.atendimento-online{
    min-width: 480px;
    padding: 32px 25px;
    background-color: var(--off);
    border: 2px solid var(--azul);
    border-radius: 35px 15px;
}

.como-funciona{
    margin-top: 25px;
}

.lista-funciona{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 15px;
}

.itens-funciona{
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.itens-funciona::before{
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: var(--rosa);
    margin-top: 0.42em;
    flex-shrink: 0;
}

.img-celular-notebook{
    position: relative;
    right: -30px;
    top: 5px;
    width: 100%;
    height: 280px;
    background-image: url('../img/Celular-Notebook.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.link-atendimento{
    margin-top: 55px;
    text-align: center;
}
/*FIM ESTILOS SEÇÃO ATENDIMENTO*/

/*INÍCIO ESTILOS SEÇÃO FORMULÁRIO*/
.container-formulario{
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url('../img/Pattern-11.webp');
    background-size: 120%;
}

.subcont-formulario{
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(135deg, var(--azul), var(--azul), var(--azul), #1d77c0, #1d77c0);
    padding: 60px 20px 65px 20px;
    box-shadow: 0 0 10px 1px var(--chumbo);
}

.subcont-formulario h2{
    color: var(--off);
}

.form-contato{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.campo-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.nome-form{
    color: var(--off);
    font-size: 18px;
}

.input-form{
    background-color: #f7f7f7;
    border: none;
    border-bottom: 4px solid var(--rosa);
    border-radius: 5px;
    font-size: 18px;
    padding: 7px 10px;
    color: var(--chumbo);
}

.input-form::placeholder{
    color: var(--chumbo);
    opacity: 0.5;
    font-weight: 300;
}

.btns-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn-enviar, .btn-whats{
    width: 48%;
    min-width: 200px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--off);
    padding: 8px 25px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-enviar{
    background-color: var(--rosa);
}

.btn-enviar:hover{
    background: linear-gradient(90deg, var(--rosa), #f8428e);
    border: 2px solid #f8428e;
}

.btn-whats{
    background-color: #3dc525;
}

.btn-whats::after{
    content: "";
    width: 21px;
    height: 21px;
    background-image: url('../img/ícones/WhatsApp-Off.webp');
    background-size: contain;
}

.btn-whats:hover{
    background: linear-gradient(90deg, #6de458, #3dc525);
    border: 2px solid #3dc525;
}
/*FIM ESTILOS SEÇÃO FORMULÁRIO*/

/*INÍCIO ESTILOS SEÇÃO RODAPÉ*/
.container-rodape{
    width: 100%;
    border-top: 10px solid var(--rosa);
    position: relative;
    top: 68px;
}

.subcont-rodape{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 80px 0;
}

.logo-rodape{
    width: 220px;
}

.cnpj{
    color: var(--off);
    font-size: 18px;
}

.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.whats,
.insta,
.email{
    color: var(--off);
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: 300;
}

.whats::before,
.insta::before,
.email::before{
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.whats::before{
    background-image: url('../img/ícones/WhatsApp.webp');
}

.insta::before{
    background-image: url('../img/ícones/Instagram.webp');
}

.email::before{
    background-image: url('../img/ícones/E-mail.webp');
}

.subcont-direitos{
    box-shadow: 0 0 8px 0px #0a2447;
}

.texto-direitos{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 10px 0;
}

h5{
    font-size: 14px;
    font-weight: 300;
    color: var(--off);
}

.dexti{
    color: var(--off);
    font-weight: 400;
}
/*FIM ESTILOS SEÇÃO RODAPÉ*/


/*INÍCIO ESTILOS MEDIA QUERY*/
@media (max-width: 979px){
    .btn-ca,
    .btn-enviar{
        background: linear-gradient(90deg, var(--rosa), #f8428e);
        border: 2px solid #f8428e;
    }

    .btn-whats{
        background: linear-gradient(90deg, #6de458, #3dc525);
        border: 2px solid #3dc525;
    }
    
    .texto-hero{
        max-width: 400px;
    }

    h1{
        color: var(--off);
        font-size: 38px;
    }

    .img-thais-hero{
        width: 380px;
        height: 380px;
        margin-top: 10px;
    }

    .img-thais-hero::before{
        content: "";
        width: calc(100% - 20px);
        height: 360px;
    }
}

@media (max-width: 850px){
    .card{
        min-height: 310px;
        justify-content: flex-start;
    }

    p{
        font-size: 16px;
        line-height: 1.7;
    }

    .texto-beneficios{
        min-width: 380px;
    }
    
    .itens-beneficios,
    .itens-funciona{
        font-size: 16px;
    }

    .mulher-paz{
        min-height: 350px;
    }

    .container-sobre{
        border-radius: 0 120px 0 120px;
    }

    .subcont-formulario{
        width: 100%;
    }

    .nome-form{
        font-size: 16px;
    }

    .input-form{
        font-size: 16px;    
    }

    .atendimento-online{
        min-width: 70%;
        padding: 32px 60px;
        margin: 0 auto;
    }

    .img-celular-notebook{
        display: none;
    }
}

@media (max-width: 767px){
    .icone-menu{
        display: block; /*Mostra ícone do menu*/
    }

    /* Esconde menu por padrão */
    .lista-menu{
        flex-direction: column;
        width: 100%;
        background: var(--off);
        position: absolute;
        top: 100%;
        left: 0;
        border-top: 1px solid #ccc;
        gap: 0;

        /*Animação*/
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
    }

    .lista-menu li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 18px 0;
    }

    .links-menu{
        padding: 12px 40px;
    }

    /* Quando marcado, expande */
    .menu-toggle:checked ~ .lista-menu{
        max-height: 500px; /*valor maior que altura dos itens*/
        transition: max-height 0.4s ease-in;
    }

    .img-thais-hero{
        display: none;
    }

    .subcont-cards{
        width: 100%;
        flex-direction: column;
    }

    .card{
        max-width: 100%;
        min-height: auto;
    }

    .container-faixa{
        height: 160px;
    }

    h4{
        font-size: 18px;
    }

    .texto-beneficios{
        align-items: center;
        margin: 0 auto;
    }

    .mulher-paz{
        display: none;
    }

    .subcont-sobre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .btns-form{
        flex-direction: column;
        gap: 20px;
    }

    .btn-enviar, .btn-whats{
        margin-top: 0;
        width: 100%;
    }

    .subcont-rodape{
        flex-direction: column;
        gap: 60px;
    }

    .contatos{
        align-items: center;
        gap: 20px;
    }

    .container-hero{
        background: linear-gradient(155deg, #2329313b, #1931478f, #2d608a, #0c5189), url('../img/Thais-Hero.webp');
        background-size: 100%;
        background-position: left 20%;
    }
}

@media (max-width: 480px){
    .limita-paragrafo{
        text-align: justify;
    }

    .botao-whats{
        width: 45px;
    }

    .logo-topo{
        width: 160px;
    }

    .icone-menu{          
        font-size: 30px;
    }                   

    main{
        top: 60px;
    }

    .container-hero{
        background: linear-gradient(155deg, #2329313b, #1931478f, #2d608a, #0c5189), url('../img/Thais-Hero.webp');
        background-size: 118%;
        background-position: center center;
    }

    h1{
        text-shadow: 2px 1px 4px #00000086;
    }

    p{
        font-size: 15px;
        line-height: 1.7;
    }

    .btn-ca,
    .btn-enviar,
    .btn-whats{
        max-width: none;
        width: 100%;
    }

    .btn-ca{
        font-size: 17px;
        padding: 10px 25px;
    }

    .btn-enviar,
    .btn-whats{
        font-size: 16px;
        padding: 8px 25px;
    }

    .btn-whats::after{
        content: "";
        width: 20px;
        height: 20px;
        background-image: url('../img/ícones/WhatsApp-Off.webp');
        background-size: contain;
    }

    h2{
        font-size: 26px;
    }

    h4{
        font-size: 16px;
        max-width: 250px;
        line-height: 1.7;
        padding: 8px 30px;
    }

    .texto-beneficios{
        min-width: 100%;
    }

    .lista-beneficios{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .itens-beneficios,
    .itens-funciona{
        font-size: 15px;
    }

    .atendimento-online{
        min-width: 100%;
        padding: 32px 20px;
        margin: 0 auto;
    }

    .texto-hero{
        max-width: 350px;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
}    

@media (max-width: 370px){
    .logo-topo{
        width: 140px;
    }

    main{
        top: 50px;
    }

    h1{
        font-size: 34px;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    .links-menu, 
    .link-contato{
        font-size: 13px;
    }
}